header{
    background-color: #242424;
    color: #fff;
    padding: 20px;
    border-bottom: 15px solid #639;
}

.page-title{
    margin: 30px 0 20px;
}

.items-list{
    margin-top: 20px;
}

.host-block{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-color: #639 !important;
    margin-bottom: 20px;
}

.link-host, .link-host:visited, .port-name{
    color: #639;
    font-weight: bold;
    font-size: 24px;
    padding-left: 0;
}

.link-host:hover {
    color: #510f94;
}
.field span{
    font-weight: bold;
    margin: 0 5px 0 10px;
}

.fa-check-circle{
    color: #28a745;
}

/*Host Details style*/

.host-subtitle{
    font-weight: bold;
    font-size: 1.2rem;
    color: #545454;
}

.fa-exclamation-triangle{
    color: #dc3545;
}

.fa-exclamation-circle{
    color: #ffc107;
}